{% load thumbnail %}
<li id="comment-{{ comment.id }}">
    {% if comment.photo %}
        <img src="{% thumbnail comment.photo 100x100 crop %}"/>
    {% endif %}
    {{ comment.message }}
    &dash;
    <a href="{% url "blog:comment_edit" comment.post.id comment.id %}"
            class="comment-form-btn" data-target-id="comment-{{ comment.id }}">
        <small> {{ comment.updated_at }}</small
    </a>
    <a href="{% url "blog:comment_delete" comment.post.id comment.id %}"
        data-target-id="comment-{{ comment.id }}"
        class="ajax-post-confirm"
        data-message="삭제하시겠습니까"> <small>-삭제</small>
    </a>

</li>