{% extends "blog/layout.html" %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="post_list_wrapper">
        {% include 'blog/_post_list.html' %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <input id='previous-button' type="button" class="btn btn-default" value="이전">
                {% endif %}
                {{ page_obj.number }} 페이지
                {% if page_obj.has_next %}
                    <input id='next-button' type="button" class="btn btn-default" value="다음">
                {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>

</div>
{% endblock %}
{% block extra_contents %}
<script>
    $(function() {
        $('#next-button').click(function() {
            $.get('?page=2')
                .done(function(html) {
                    console.log(html);
                    $('#post_list_wrapper').html(html);
                    var state_obj = {};
                    var url ='?page=2';
                    history.pushState(state_obj,'',url)
                })
                .fail(function() {
                    console.log('fail');
                })
                .always(function() {
                    console.log('always');
                });


            return false;

        });

    });


</script>
{% endblock %}