{% extends "blog/layout.html" %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover" id="post-list">

                <tbody>
                    <tr>
                        <th>#</th>
                        <th>title</th>
                        <th>updated_at</th>
                    </tr>
                    {% for post in post_list %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.updated_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a id="load-more-btn" class="btn btn-primary">Load More ...</a>

            <hr/>
            <a href=" {% url "blog:post_new" %}" class="btn btn-primary">새 글쓰기</a>
            <hr/>
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">이전</a>
                {% endif %}
                {{ page_obj.number }} 페이지
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <hr>

</div>
{% endblock %}