{% extends 'blog/layout.html' %}
{% load bootstrap3 %}
{% block extra_contents %}
<script>
    $(function() {
        $(document).on('click', '.ajax-post-confirm', function(e) {
            e.preventDefault();

            var url = $(this).attr('href');
            var message = $(this).data('message');
            var target_id =$(this).data('target-id');

            if (confirm(message)) {
                $.post(url)
                .done(function() {
                    $('#' +  target_id).remove();

                })
                .fail(function(xhr, textStatus, error) {
                    alert('failed:' + error);
                });
            }
        });

        $('#comment_form').submit(function(e) {
            e.preventDefault();

            var $form = $(this);
            var $submit = $form.find('[type=submit]');
            $submit.prop('disabled', true);
            var url = $form.attr('action');
            var data = $form.serialize();

            $.post(url, data)
                .done(function(obj) {
                    if( obj.is_success == false){
                        alert(obj.message)
                    }
                    else {
                        console.log(obj);
                        $('#comment-list').prepend([
                            '<li id="comment-' + obj.id + '">',
                                obj.message,
                                '&dash;',
                                '<a href="' + obj.edit_url + '">',
                                    '<small>' + obj.updated_at + '</small>',
                                '</a>',
                                '<a href="'+ obj.delete_url + '" class="ajax-post-confirm" data-target-id="comment-' + obj.id + '" data-message="정말 삭제하시겠습니까?">',
                                    '<small>삭제</small>',
                                '</a>',
                            '</li>'
                             ].join(''));

                            $form[0].reset()

                    }
                })
                .fail(function(xhr, testStatus, error) {
                    console.log("fail");
                    alert('failed:' + error);
                })
                .always(function() {
                    $submit.prop('disabled', false);
                });

        });
    })



</script>
{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ post.title }}</h1><br>
            <p>{{ post.content|linebreaks }}</p>
            <hr>
            <div id="comment-list">
            {% for comment in post.comment_set.all %}
                <li id="comment-{{ comment.id }}">
                    <a href="{% url "blog:comment_edit" post.id comment.id %}">{{ comment.message }}</a>
                    <a href="{% url "blog:comment_delete" post.id comment.id %}"
                        data-target-id="comment-{{ comment.id }}"
                        class="ajax-post-confirm"
                        data-message="삭제하시겠습니까"> -삭제</a>
                    &dash; <small> {{ comment.updated_at }}</small>
                </li>
            {% endfor %}
            </div>
            <hr/>
            <form id="comment_form" action="{% url "blog:comment_new" post.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                <input type="submit" class="btn btn-primary btn-block" value="댓글작성"/>
            </form>
            <hr/>
            <a href=" {% url "blog:post_new" %}" class="btn btn-danger">새 글쓰기</a>
            <a href=" {% url "blog:index"  %}" class="btn btn-primary">목록</a>
            <a href=" {% url "blog:post_edit" post.id %}" class="btn btn-primary">수정</a>
            <a href=" {% url "blog:post_delete" post.id %}" class="btn btn-danger">삭제</a>
        </div>
    </div>
</div>
{% endblock %}