{% extends "blog/layout.html" %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="post_list_wrapper">
            <table class="table table-bordered table-hover" id="post-list">
                <tr>
                    <th>#</th>
                    <th>title</th>
                    <th>updated_at</th>
                </tr>
                {% include 'blog/_scroll_list.html' %}
            </table>
        </div>
    </div>
    <hr>

</div>
{% endblock %}
{% block extra_contents %}
<script>
$(function() {
    var $win = $(window);
    var is_loading = false;
// 매 화면 스크롤마다 호출
    $win.scroll(function() {
// 문서의 끝에 도달했는가?
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight){
            var search_params = new URLSearchParams(window.location.search); // 현재 페이지의 GET인자를 가공
            var current_page = parseInt(search_params.get('page')) || 1;
            var next_page_url = '?page=' + (current_page + 1);
            is_loading = true;
            $.get(next_page_url).
                done(function(html) {
                    $('#post-list').append(html);
                    history.pushState({}, '', next_page_url);
                }).
                fail(function(xhr, textStatus, error) {
                    console.log(textStatus);
                })
                .always(function() {
                    console.log("always");
                    is_loading = false;
    });
} });
});


</script>
{% endblock %}